// Imports -------------------------------------------------------------------

@import "susy"

// Grid ----------------------------------------------------------------------

$total-cols : 14
$col-width : 4em
$gutter-width : 0em
$grid-padding : 0em
$side-gutter-width : $gutter-width
$container-width: 100%

$show-grid-backgrounds  : true